<div class="container">
  <table class="table table-striped" border="1">
    <thead>
    <th>Id</th>
    <th>名字</th>
    <th>姓氏</th>
    <th>性别</th>
    <th>生日</th>
    <th>部门</th>
    </thead>
    <tbody>
    <tr *ngFor="let emp of employees">
      <td class="text-center"> {{emp.employeeId}}</td>
      <td class="text-center"> {{emp.firstName}}</td>
      <td class="text-center"> {{emp.lastName}}</td>
      <td class="text-center"> {{emp.gender}}</td>
      <td class="text-center"> {{emp.dob}}</td>
      <td class="text-center"> {{emp.department}}</td>
      <td><button class="btn btn-danger" (click)="deleteUser(emp)">Delete</button>
        <button class="btn btn-primary" (click)="updateUser(emp)">Edit</button></td>
    </tr>

    </tbody>
  </table>
  <div>
    <button  class="btn btn-danger" (click)="daochu()">数据导出</button>
  </div>
  <td><button class="btn btn-primary" (click)="newUser()">New User</button></td>
<div>
  <input type="file" name="file"  ng2FileSelect [uploader]="uploader" />
  <button type="button" class="btn btn-success btn-s"
          (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length" >
    开始导入
  </button>
</div>
</div>
